<div class="community">
<%= link_to "マイページへ", user_path(current_user) %>
<ul>
  <% @communities.each do |community| %>
    <li><%= link_to community.name, posts_path(community) %></li>
  <% end %>
</ul>
</div>